<header style="color:blue">
  <h1  style="text-align: center" >Welcome to the Projects Show Page!</h1>
</header>
<!-- <form role="form">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" class="form-control" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control" />
  </div>

  <input type="submit" value="Login" />
  <input type="button" value="Cancel" />
</form> -->
<div class="container">
  <div class="row">
    <div class="col-xs-3"><h3 style="text-align: left">col-xs-3</h3>
      <table class="table">
        <div class="col-xs-6">
          <h4 style="text-align: left">col-xs-6</h4>
        </div>
        <div class="col-xs-6">
          <h4 style="text-align: left">col-xs-6</h4>
        </div>
      </table>
    </div>
    <div class="col-xs-9">
      <h3 style="text-align: left">col-xs-9</h3>
      <div class="row">
        <row class="table">
          <div class="col-xs-6">
            <h4 style="text-align: left">col-xs-6</h4>
          </div>
          <div class="col-xs-6">
            <h4 style="text-align: left">col-xs-6</h4>
          </div>
        </row>
        <row class="table">
          <div class="col-xs-6">
            <h4 style="text-align: left">col-xs-6</h4>
          </div>
          <div class="col-xs-6">
            <h4 style="text-align: left">col-xs-6</h4>
          </div>
        </row>
        <row class="table">
          <div class="col-xs-6">
            <h4 style="text-align: left">col-xs-6</h4>
          </div>
          <div class="col-xs-6">
            <h4 style="text-align: left">col-xs-6</h4>
          </div>
        </row>
        <row class="table">
          <div class="col-xs-6">
            <h4 style="text-align: left">col-xs-6</h4>
          </div>
          <div class="col-xs-6">
            <h4 style="text-align: left">col-xs-6</h4>
          </div>
        </row>
      </div>
    </div>
  </div>
</div>

	